body
{
  background-color: rgb(202, 245, 255);
}

p
{
  color:rgb(0, 0, 0);
}

.title
{
  background-color: rgb(128, 200, 189);
  size: 100px;
  border: 10px solid rgb(0, 153, 156);
  color: rgb(31, 190, 225);
  text-align: center;
}

h1
{
  font-size: 100px;
}

h2
{
  font-size: 50px;
}
  