body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav 
{
    background-color: rgb(174, 174, 255);
    display: flex;
    justify-content: center;
    font-size: 40px;
}
  
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav ul li 
{
    float: left;
}

nav ul li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
}
  
nav ul li a:hover 
{
    background-color: rgb(255, 255, 255);
    color: rgb(174, 174, 255);
}


.text
{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h1
{
   font-size: 100px;
   left: 50%;
   text-align: center;
   top: 50%;
   padding: 20px;
}

.ticket h1, .date h1
{
    font-size: 60px;
    left: 50%;
    text-align: center;
    top: 50%;
    padding: 20px;
}

h2
{
    padding-bottom: 20px;
}

.grid-container 
{
    padding-left: 25px;
    display: grid;
    gap: 50px 100px;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.date
{
    background-color: rgb(174, 174, 255);
    height: 300px;
    width: 350px;
    overflow: auto;
}

.ticket
{
    background-color: rgb(174, 174, 255);
    height: 300px;
    width: 900px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    transition: width 0.5s ease, height 0.5s ease;
}

.ticket h2,.ticket p,.ticket h3
{
    display: none;
    transition: visibility 0.5s ease, opacity 0.5s ease;
}

.ticket:hover h2,.ticket:hover p,.ticket:hover h3
{
    display: block;
    transition-delay: .5s;
}

.ticket:hover .text
{
    display: none;
    transition-delay: 1s;
    height: 400px;
}

.ticket:hover
{ 
    height: 650px;
}

.text
{
    transition: visibility 0.5s ease, opacity 0.5s ease;
}

.footer
{
    padding-top: 100px;
}


footer p 
{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

footer nav ul li a:hover 
{
    text-decoration: underline;
}

.footer nav ul li a p
{
    padding-left: 30px;
    padding-top: 50px;
}




@media (max-width: 500px) 
{
    .ticket h2,.ticket p,.ticket h3
    {
        display: block;
        font-size: 10px;
        margin: 0;
    }

    nav
    {
        font-size: 20px;
    }

    .date
    {
        background-color: rgb(151, 151, 151);
        /*
        height: 30px;
        width: 270px;
        */
        width: 100%;
        
        padding-top: 10px;
        height: 30px;
    }
    
    .date h1
    {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .text h1
    {
        font-size: 10px;
        display: none;
    }

    h1
    {
        font-size: 20px;
        left: 50%;
        text-align: center;
        top: 50%;
    }

    .ticket
    {
        /*
        width: 100%; /* Make the container expand to the full width of the viewport 
        max-width: 100%;
        */

        /*
        background-color: rgb(186, 186, 186);
        height: 70px;
        width: 250px;
        overflow: auto;
        font-size: 10px;
        */

        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
    }

    .ticket:hover
    { 
        height: 100%;
    }

    .ticket h2
    {
        font-size: 15px;
    }

    h2
    {
        font-size: 8px;
    }

    .grid-container 
    {
        display: grid;
        gap: 20px 40px;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 2fr .2fr 2fr .2fr 2fr .2fr 2fr .2fr 2fr .2fr 2fr .2fr 2fr .2fr 2fr;
    }

}


